[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "msPurity"]
	path = msPurity
	url = https://github.com/computational-metabolomics/mspurity
[submodule "structToolbox"]
	path = structToolbox
	url = https://github.com/computational-metabolomics/structtoolbox
